include ../include.jade
html(lang="en")
	include ../html.jade
	body
		.wrapper
			.header
				block header
			.menu-box
				block menu
			.content
				block content
			block footer_slider
		.footer
			block footer
				.footer__copyright
					| Copyright by Ace Tuts. All rights reserved.